$darkCyan: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$grayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: $darkCyan;
  overflow: hidden;
}
.bg-top, .bg-bottom {
  display: flex;
  position: absolute;
  width: 100%;
}

.bg-top {
  display: flex;
  justify-content: end;
  top: -50%;
  left: -50%;
}

.bg-bottom {
  bottom: -50%;
  // left: 50%;
  right: -50%;
}

.card {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  z-index: 100;
  overflow: hidden;

  &__bg-top {
    height: 150px;
    background-image: url('../images/bg-pattern-card.svg');
  }

  &__bg-bottom {
    position: relative;
    height: 350px;
  }

  &__img {
    position: absolute;
    top: -14%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border: 6px solid white;
    border-radius: 50%;
    img {
      border-radius: 50%;
    } 
  }
}


.footer {
  position: absolute;
  bottom: 0;
}